#raw-text-main-article-container code {
   white-space: break-spaces;
}

#view-parse-toggle-btn {
   margin: 10px 5px;
}

.robot-fun-container {
   display: flex;
   flex-direction: row;
   margin: 35px 0;
   gap: 35px;

   .robot-fun-img-container {
      padding-left: 3px;

      img {
         width: 100%;
         max-width: 142px;
         height: auto;

      }
   }

   .robot-fun-txt-container {
      font-size: 20px;
      h5 {
         margin: 0;
         padding: 0;
      }

   }
}