#work-header-container {
   background: @siteBlack;
   position: relative;
   height: 100%;
   overflow: hidden;
}

.work-header-content-background {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
   overflow: hidden;
   pointer-events: none;
}

.work-header-content-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: center;
   text-align: center;
   gap: 20px;
   z-index: 3;
   min-height: @maxPageHeaderHeight;

   * {
      z-index: inherit;
   }
}

.shape {
   display: block;
   position: absolute;
   left: -10%;
   top: 0;
   bottom: 0;
   width: 90%;

   @media (max-width: @minBreakpoint) {
      left: 8%;
      width: 83%;
      top: 49%;
      transform: rotate(-90deg) scaleX(-1);
   }
}

.shader {
   z-index: 2;
   background-image: linear-gradient(to left, transparent 0%, black 95%);
}

.video-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   overflow: hidden;

   @media (max-width: @minBreakpoint) {
      display: none;
   }

   .header-video-container {
      display: inherit;
      align-items: inherit;

      .header-video {
         width: 100%;
         height: auto;
      }
   }
}

.text-container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   width: 100%;
   gap: 8px;

   @media (max-width: @minBreakpoint) {
      align-items: center;
   }

   p, div, h1 {
      padding: 0;
      margin: 0;
   }

   a {
      text-decoration: none;
      color: inherit;
   }

   p {
      font-size: .65em;
      margin-bottom: 12px;
   }

   @tagRadius: 5px;

   .header-tags {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      gap: 6px;
      font-size: .55em;
      background-image: linear-gradient(to right, rgba(86,20,214,1) 60%, rgba(0,0,0,0) 100%);
      border-radius: @tagRadius 0 0 @tagRadius;

      .header-tag {
         padding: 5px 13px;
         display: flex;
         align-items: center;

         &:hover {
            background-color: rgb(0,219,202);
            border-radius: @tagRadius;
            border-color: rgb(44,147,208);
            stroke: rgb(44,147,208), 1px;
            color: rgb(84,40,228);
            cursor: pointer;
         }
      }
   }

   .mobile-header-video-container {
      display: none;

      @media (max-width: @minBreakpoint) {
         display: block;
      }

      .header-video {
         width: 150px;
      }
   }
}

.curve {
   z-index: 1;
   clip-path: url(#myCurve);
   background: linear-gradient(to left, #8e2de2, #4a00e0, #8e2de2, #4a00e0);
   transition: background-position 10s ease;
   background-size: 600% auto;
   background-position: 100%;

   &.js-animate-curve {
      background-position: 0%;
   }
}

.svg-defs, .svg-container {
   height: 0px;
   width: 0px;
}