// Site Colors
@siteOrange: #FCB300;
@siteDarkOrange: #FEA319;
@siteWhite: white;
@siteBlack: black;
@siteTeal: #09D8CB;
@siteBlue: #00ACDD;
@sitePink: #F96CFF;
@siteHotPink: #F643FD;
@siteGrey: #888888;
@siteMedGrey: #707070;
@siteDarkGrey: #4E4E4E;
@siteLightGrey: #DBDBDB;
@siteLightishGrey: #CECECE;
@sitePurple: #5514D7;
@siteGreen: #018037;
@siteDarkGreen: #003C02;
@siteBrightRed: #FF0000;
@siteRed: #D30000;
@siteDarkRed: #A70000;
@siteDarkestRed: #860000;

// Default Background colors
@bodyBackground: #A600A6;
@pageHeaderBackground: blue;
@navBackground: green;
@footerBackground: #003C02;
@articleBackground: #C5FC98;

@mobileBackground: @siteBrightRed;
@mobileCircleOne: @siteDarkestRed;
@mobileCircleTwo: @siteDarkRed;
@mobileCircleThree: @siteRed;
@mobileCircleFour: @siteGreen;

// Basic Text colors
@navText: @siteWhite;
@navTextActive: @siteOrange;
@articleText: @siteBlack;
@copyrightTextColor: @siteBlack;

@blackStroke: @siteBlack;
@highlightOnIA: #FFA4FF;

@maTagBorder: @siteHotPink;
@maFilterTagActiveText: @siteBlack;
@maFilterTagActiveBorder: @siteHotPink;
@maFilterTagActiveBackground: @siteHotPink;

@maEntryHeaderText: @siteWhite;
@maEntryDateText: @siteTeal;
@maEntryTagText: @siteHotPink;

// Event colors
@noticeOnHover: rgba(0, 140, 186, 0.5);
@highlightInterestingArticleHover: #74FF00;
@highlightInterestingArticleHoverShadow: #6c006c;

// FX colors
@fx1: #FFA4FF;
@fx2: #FF70FF;
@fx3: #FF00FF;