// Basic Background colors
@boldBackground: #A600A6;
@strikingNav: green;
@interestingArticle: #C5FC98;
@interestingArticleTextColor: black;

@mobileBackground: #ff0000;
@mobileCircleOne: #860000;
@mobileCircleTwo: #a70000;
@mobileCircleThree: #d30000;
@mobileCircleFour: #018037;

// Basic Text colors
@whiteText: white;
@blackStroke: black;
@mainOnStrikingNav: #530E53;
@mainOnBoldBackground: #5FD101;
@usedMainOnBoldBackground: #449500;
@mainOnContainerInIA: #74FF00;
@highlightOnIA: #FFA4FF;

// Theme colors
@white: white;
@black: black;
@orange: orange;
@lightGreen: lightgreen;
@purple: purple;
@grey: grey;

// Event colors
@noticeOnHover: rgba(0, 140, 186, 0.5);
@highlightInterestingArticleHover: #74FF00;
@highlightInterestingArticleHoverShadow: #6c006c;

// Highlight colors
@containerInIntestingArticle: #FF00FF;
@borderContainerInIA: #D93E00;
@smallerContainerInInterestingArticle: #FF4900;
@shadownHightlightOnIA: #449500;

// FX colors
@fx1: #FFA4FF;
@fx2: #FF70FF;
@fx3: #FF00FF;