@import "default.less";

@gGrey: @siteGrey;
@gOrange: @siteOrange;
@gWhite: @siteWhite;
@gBlack: @siteBlack;
@gTeal: @siteTeal;
@gBlue: @siteBlue;
@gPink: @sitePink;
@gHotPink: @siteHotPink;
@gPurple: @sitePurple;

@bodyBackground: @gGrey;
@pageHeaderBackground: @gPurple;
@articleBackground: @gBlack;
@articleText: @gWhite;
@navBackground: @gBlack;
@navText: @gWhite;
@navTextActive: @gHotPink;

@footerBackground: @gPurple;

@mobileBackground: @gPurple;
@mobileCircleOne: @gOrange;
@mobileCircleTwo: @gPink;
@mobileCircleThree: @gBlue;
@mobileCircleFour: @gTeal;
