// Page Colors
@bodyBackgroundColor: @boldBackground;

// Header Colors
@headerTextColor: @whiteText;

// Nav Colors
@navBackgroundColor: @strikingNav;
@navTextColor: @mainOnStrikingNav;

// Footer Colors
@footerSpacerColor: @whiteText;
@footerLinkColor: @mainOnBoldBackground;
@footerLinkVisitedColor: @usedMainOnBoldBackground;

// Block o Fun Colors
@imageHoverColor: @noticeOnHover;

// Mini Article List Colors
@maEntryTextBorder: @containerInIntestingArticle;
// Sort colors
@maSortHoverHighlight: @highlightInterestingArticleHover;
@maSortHoverShardow: @highlightInterestingArticleHoverShadow;
// Tag colors
@maTagBorder: @smallerContainerInInterestingArticle;
// Tag Active colors
@maFilterTagActiveText: @mainOnContainerInIA;
@maFilterTagActiveBorder: @borderContainerInIA;
@maFilterTagActiveBackground: @containerInIntestingArticle;
// Tag Hover colors
@maFilterTagHoverText: @highlightInterestingArticleHover;
@maFilterTagHoverStroke: @blackStroke;
// Entry Colors
@maEntryHeader: @highlightOnIA;
@maEntryHeaderShadow: @shadownHightlightOnIA;
@maEntryHeaderStroke: @highlightInterestingArticleHoverShadow;
@maEntryDateText: @mainOnContainerInIA;
@maEntryDateShadow: @highlightInterestingArticleHoverShadow;
@maEntryTagText: @mainOnContainerInIA;
@maEntryTagBorder: @borderContainerInIA;
@maEntryTagBackground: @containerInIntestingArticle;