// Page Colors
@bodyBackgroundColor: @bodyBackground;
@articleTextColor: @articleText;
@articleBackgroundColor: @articleBackground;

// Header Colors
@pageHeaderBackgroundColor: @pageHeaderBackground;
@headerTextColor: @whiteText;

// Nav Colors
@navBackgroundColor: @navBackground;
@navTextColor: @navText;
@navTextActiveColor: @navTextActive;

@mobleBackgroundColor: @mobileBackground;
@mobleCircleOneColor: @mobileCircleOne;
@mobileCircleTwoColor: @mobileCircleTwo;
@mobileCircleThreeColor: @mobileCircleThree;
@mobileCircleFourColor: @mobileCircleFour;

// Footer Colors
@footerBackgroundColor: @footerBackground;
@footerTextColor: @footerText;
@mobileFooterBackgroundColor: @mobileBackground;
@mobileCircleBackgroundOne: @mobileCircleOne;
@mobileCircleBackgroundTwo: @mobileCircleOne;
@mobileCircleBackgroundThree: @mobileCircleOne;
@mobileCircleBackgroundFour: @mobileCircleOne;
@footerSpacerColor: @whiteText;
@footerLinkColor: @black;
@footerLinkVisitedColor: @black;

// Block o Fun Colors
@imageHoverColor: @noticeOnHover;

// Mini Article List Colors
@maEntryTextBorder: @containerInIntestingArticle;
// Sort colors
@maSortHoverHighlight: @highlightInterestingArticleHover;
@maSortHoverShardow: @highlightInterestingArticleHoverShadow;
// Tag colors
@maTagBorder: @smallerContainerInInterestingArticle;
// Tag Active colors
@maFilterTagActiveText: @mainOnContainerInIA;
@maFilterTagActiveBorder: @borderContainerInIA;
@maFilterTagActiveBackground: @containerInIntestingArticle;
// Tag Hover colors
@maFilterTagHoverText: @highlightInterestingArticleHover;
@maFilterTagHoverStroke: @blackStroke;
// Entry Colors
@maEntryHeader: @highlightOnIA;
@maEntryHeaderShadow: @shadownHightlightOnIA;
@maEntryHeaderStroke: @highlightInterestingArticleHoverShadow;
@maEntryDateText: @mainOnContainerInIA;
@maEntryDateShadow: @highlightInterestingArticleHoverShadow;
@maEntryTagText: @mainOnContainerInIA;
@maEntryTagBorder: @borderContainerInIA;
@maEntryTagBackground: @containerInIntestingArticle;