/** Vars **/
@sectionGap: 10px;
@minWidth: 320px;
@minBreakpoint: 480px;
@pageBreakpoint: 745px;
@maxWidth: 1920px;
@contentSidePadding: 14px;

/** Global **/
* {
   box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: @bodyBackgroundColor;
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;

   .body-content-container {
      min-width: @minWidth;
      max-width: @maxWidth;
      padding: 0 @contentSidePadding;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      gap: @sectionGap;
      margin-bottom: @sectionGap;
   }
}

 .flex-break {
   flex-basis: 100%;
   height: 0;
   margin: 0;
   padding: 0;
 }


/** Major Sections */
/** Header */
header {
   margin: 0 auto;
   font-size: 35px;
   color: @headerTextColor;
   background-color: blue;
   width: 100%;

   .header-main-title-container {
      display: flex;
      justify-content: center;
      padding: 30px 0;
      text-align: center;

      h2 {
         margin: 0px;
         padding: 0px;
      }
   }


}

/* Container for flexboxes */
section {
   display: -webkit-flex;
   margin: 0 auto;
   background-color: @interestingArticle;
   padding: 20px;
   color: @articleTextColor;
   border-radius: 22px;

   .article-nav-container {
      display: flex;
      flex-direction: row;

      /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
      @media (max-width: @pageBreakpoint) {
         -webkit-flex-direction: column;
         flex-direction: column;
      }
   }


}

/* Style the content */
article {
   -webkit-flex: 5;
   -ms-flex: 5;
   flex: 5;
   @media (max-width: @pageBreakpoint) {
      -webkit-flex: 0;
      -ms-flex: 0;
      flex: 0;
   }
}


/* Style the navigation menu */
nav {
   background: @navBackgroundColor;
   color: @navTextColor;
   -webkit-flex: 2;
   -ms-flex: 2;
   flex: 2;

   @media (max-width: @pageBreakpoint) {
      -webkit-flex: 0;
      -ms-flex: 0;
      flex: 0;
   }

   text-align: left;
   font-family: "Helvetica Neue, Regular";
   font-size: 20px;

   .nav-links-container {
      padding: 18px;
      display: flex;
      flex-wrap: nowrap;
      gap: 55px 30px;
      justify-content: left;
      flex-direction: column;

      @media (max-width: @pageBreakpoint) {
         flex-direction: row;
         justify-content: space-around;
      }

      @media (max-width: @minBreakpoint) {
         flex-direction: column;
         justify-content: left;
      }

      .nav-section {
         flex: 1;

         h5 {
            margin: 0 0 6px 0;
            padding: 0px;
            font-family: "Helvetica Neue, Bold";
            font-size: 24px;
            color: @whiteText;
         }

         .image-link-container {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            gap: 10px;

            img {
               width: 76px;
               height: auto;
            }
         }

         ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;

            &.rowLayout {
               li {
                  display: inline;
               }
            }

            a {
               color: white;
               &:visited {
                  color: white;
               }
               &.active {
                  color: orange;
                  font-weight: bold;
               }
               &:hover {
                  color: orange;
               }
            }
         }
      }
   }
}


/* Footer */
.page-footer-container {
   width: 100%;
   flex: 0;
   -webkit-flex: 0;
   -ms-flex: 0;
   font-family: "Helvetica Neue, Bold";
   font-size: 24px;
   color: @whiteText;
   background-color: black;
   padding: 60px 20px;

   @media (max-width: @minBreakpoint) {
      display: none;
   }

   .page-footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 20px;

      .page-footer-entry-container {
         width: 200px;
         height: 200px;

         &.page-footer-text-entry {
            text-align: left;
            width: 270px;
         }

         a {
            display: block;
            position: relative;
            text-align: center;

            img {
               width: 200px;
               height: 200px;
               border-radius: 50%;
               filter: brightness(50%);
            }

            span {
               z-index: 1;
               width: 100%;
               display: block;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
            }
         }
      }
   }

}
footer {
   display: none;
   @media only screen and (max-width: @minBreakpoint)  {
      display: block;
   }

   &.fixed-footer {
      display: none;
      position: fixed;
      left: 0;
      bottom: 0;

      @media only screen and (max-width: @minBreakpoint)  {
         display: block;
      }
   }

   width: 100%;
   font-size: 1.5em;
   margin: @sectionGap 0 0 0 ;
   padding: 0;

   div.links-container {
      border: 2px black solid;
      background-color: white;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      text-align: center;
      min-width: @minWidth;
      margin: 0;
      padding: 0;

      .link-container {
         margin: 18px;
         display: flex;
         flex-direction: column;
         span {
            color: @footerLinkColor;

            a:visited {
               color: @footerLinkVisitedColor;
            }

            &:hover {
               font-weight: bold;
            }
         }

         .display-text-bold-hack-container {
            .display-text-bold-hack();
         }
      }
   }
}

// Silly hack to make bolding on hover not shift content
// Basically render a bold element but "hide" it
// Thx: https://css-tricks.com/bold-on-hover-without-the-layout-shift/
.display-text-bold-hack() {
   content: attr(data-text);
   content: attr(data-text) / "";
   height: 0;
   visibility: hidden;
   overflow: hidden;
   user-select: none;
   pointer-events: none;
   font-weight: bold;

   @media speech {
      display: none;
   }
}