/** Global **/
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #A600A6;
  display: flex;
  flex-direction: column;
  margin: 0;
}
/** Major Sections */
/** Header */
header {
  margin: 0 auto;
  font-size: 35px;
  color: white;
}
header div {
  max-width: 928px;
  margin: 30px;
}
/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
}
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/* Style the navigation menu */
nav {
  background: green;
  color: #530E53;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}
nav h3 {
  margin: 18px 10px;
  color: white;
}
nav .nav-links-container {
  padding: 18px;
  display: flex;
  gap: 10px;
  align-items: stretch;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}
nav .nav-links-container .nav-link-container {
  padding: 4px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
nav .nav-links-container .nav-link-container:hover {
  font-weight: bold;
  cursor: pointer;
}
nav .nav-links-container .nav-link-container a,
nav .nav-links-container .nav-link-container a:visited {
  color: #530E53;
  text-decoration: none;
}
nav .nav-links-container .nav-link-container .color-block {
  align-self: center;
  width: 120px;
  height: 120px;
  background-color: black;
  border: 2px solid white;
}
nav .nav-links-container .nav-link-container .color-block.homepage {
  background-color: orange;
}
nav .nav-links-container .nav-link-container .color-block.dev {
  background-color: lightgreen;
}
nav .nav-links-container .nav-link-container .color-block.default {
  background-color: purple;
}
/* Style the content */
article {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  background-color: #C5FC98;
  padding: 20px;
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 0 auto;
}
footer div {
  display: flex;
  flex-direction: row;
  max-width: 954px;
  margin: 20px;
  justify-content: center;
  gap: 8px;
  align-items: stretch;
  flex-wrap: wrap;
}
footer a {
  color: #5FD101;
  min-width: 122px;
}
footer a:visited {
  color: #449500;
}
footer a:first-child {
  text-align: right;
}
footer a:last-child {
  text-align: left;
}
@media (max-width: 305px) {
  footer a:first-child,
  footer a:last-child {
    text-align: center;
  }
  footer a span {
    display: none;
  }
}
#article-container {
  display: flex;
  flex-direction: column;
  max-width: 820px;
}
#article-container > div {
  max-width: 777px;
}
#article-container .hidden {
  display: none;
}
#parsed-main-article-container h2:first-child,
#parsed-main-article-container p:first-child {
  margin-top: 0px;
}
#parsed-main-article-container h2:last-child,
#parsed-main-article-container p:last-child {
  margin-bottom: 0px;
}
#parsed-main-article-container .ma-entry-text-container h2:first-child,
#parsed-main-article-container .ma-entry-text-container p:first-child {
  margin-top: 0px;
}
#parsed-main-article-container .ma-entry-text-container h2:last-child,
#parsed-main-article-container .ma-entry-text-container p:last-child {
  margin-bottom: 0px;
}
#raw-text-main-article-container code {
  white-space: break-spaces;
}
#view-parse-toggle-btn {
  margin: 10px 5px;
}
/**
 * Block'O'Fun CSS
 */
.block-o-fun img {
  border-radius: 50%;
  padding: 5px;
  margin-right: 8px;
  width: 150px;
  float: left;
}
.block-o-fun img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: crosshair;
}
.tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
@keyframes slidebg {
  to {
    background-position: 25vw;
  }
}
#mini-article-list {
  margin: 0px 6px;
  display: flex;
  flex-direction: column;
  /**
   * We'd like the last entry to not push down the footer so we have to set the
   * last last entry margin to 0.
   *
   * If we were using "gap" we woudn't need this but b/c of animations we're jumping
   * through some css hoops.
   */
  /* General tag css */
}
#mini-article-list .ma-entry-container {
  /**
      * Required for animations: https://css-tricks.com/using-css-transitions-auto-dimensions/#aa-technique-3-javascript
      */
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: auto;
  /**
      * Because of how we're hacking height for animations, we have to jump through
      * a couple css hoops to get margins between all the entries to collapse right
      * when we filter things.
      */
}
#mini-article-list .ma-entry-container .ma-entry-text-container {
  /* This is how we set #mini-article-entries {gap:18px} */
  margin-bottom: 18px;
  /* We might as well make the parsed article flex too */
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* Sets the cool border around the parsed text */
  padding: 8px 10px;
  border: 1px solid #FF00FF;
  border-radius: 15px;
}
#mini-article-list .ma-entry-container .ma-entry-text-container p,
#mini-article-list .ma-entry-container .ma-entry-text-container h1,
#mini-article-list .ma-entry-container .ma-entry-text-container h2,
#mini-article-list .ma-entry-container .ma-entry-text-container h3,
#mini-article-list .ma-entry-container .ma-entry-text-container h4,
#mini-article-list .ma-entry-container .ma-entry-text-container h5,
#mini-article-list .ma-entry-container .ma-entry-text-container h6 {
  margin: 0px;
}
#mini-article-list:last-of-type .ma-entry-container {
  margin-bottom: 0px;
}
#mini-article-list .ma-entry-tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
#mini-article-list .ma-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FF4900;
  border-radius: 10%;
  font-size: 16px;
  min-width: 60px;
  padding: 2px 4px;
}
/* Head - Header / Sort / Tags */
#ma-head-container {
  margin: 8px 0;
  /* Mini Article Header and Sort */
  /* Mini Article Tags & Entry Tags */
}
#ma-head-container #ma-header-and-sort-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: stretch;
  gap: 4px;
  flex-wrap: wrap;
  /* Header */
  /* Mini Article Sort */
}
#ma-head-container #ma-header-and-sort-container h3 {
  font-size: 25px;
  margin: 0;
}
#ma-head-container #ma-header-and-sort-container #mini-article-sort-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 18px;
  flex-wrap: wrap;
  align-self: center;
}
#ma-head-container #ma-header-and-sort-container #mini-article-sort-container span {
  min-width: fit-content;
}
#ma-head-container #ma-header-and-sort-container #mini-article-sort-container span:hover,
#ma-head-container #ma-header-and-sort-container #mini-article-sort-container span.active {
  cursor: pointer;
  color: #74FF00;
  text-shadow: -0.04em 0.04em 0.08em #6c006c, 0.04em 0.04em 0.08em #6c006c, 0.04em -0.04em 0 #6c006c, -0.04em -0.04em 0 #6c006c;
}
#ma-head-container #mini-article-tag-list {
  margin: 0 8px ;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
#ma-head-container #mini-article-tag-list .ma-tag.active {
  color: #74FF00;
  border-color: #D93E00;
  background-color: #FF00FF;
}
#ma-head-container #mini-article-tag-list .ma-tag:hover {
  background-image: linear-gradient(90deg, #FFA4FF 3%, #FF70FF 15%, #FF00FF 50%, #FF70FF 85%, #FFA4FF 97%);
  animation: slidebg 5s linear infinite;
  color: #74FF00;
  -webkit-text-stroke-width: 0.015em;
  -webkit-text-stroke-color: black;
  cursor: pointer;
}
/* Mini Article Entry */
#mini-article-entries {
  display: inline-flex;
  flex-direction: column;
  margin: 4px;
}
#mini-article-entries .ma-entry-head-container {
  margin-bottom: 12px;
}
#mini-article-entries .ma-entry-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: baseline;
  gap: 4px;
  flex-wrap: wrap;
}
#mini-article-entries .ma-entry-title-container h5 {
  font-size: 30px;
  margin: 0;
  color: #FFA4FF;
  text-shadow: -0.04em 0.04em 0.08em #449500, 0.04em 0.04em 0.08em #449500, 0.04em -0.04em 0 #449500, -0.04em -0.04em 0 #449500;
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-stroke-color: #6c006c;
}
#mini-article-entries .ma-entry-date-container {
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #74FF00;
  text-shadow: -0.04em 0.04em 0.08em #6c006c, 0.04em 0.04em 0.08em #6c006c, 0.04em -0.04em 0 #6c006c, -0.04em -0.04em 0 #6c006c;
}
#mini-article-entries .ma-entry-tag-container {
  margin: 0 14px 6px;
  /* Make them smaller b/c they're kinda different */
}
#mini-article-entries .ma-entry-tag-container .ma-tag {
  color: #74FF00;
  border-color: #D93E00;
  background-color: #FF00FF;
  font-size: 8px;
  min-width: 40px;
  padding: 2px 3px;
}
