/** Vars **/
/** Global **/
* {
  box-sizing: border-box;
}
html,
body {
  height: fit-content;
  width: 100%;
  display: flex;
}
body {
  font-family: "'Open Sans', sans-serif";
  background-color: #A70000;
  justify-content: center;
  margin: 0;
  padding: 0;
}
body .body-content-container {
  min-width: 375px;
  max-width: 1280px;
  padding: 0 14px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  body .body-content-container {
    padding: 0;
  }
}
body .copyright-container {
  color: white;
}
.page-background-container {
  height: fit-content;
  position: relative;
  width: 100%;
}
.page-background-container .background-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0%;
  width: 100%;
  z-index: -1;
}
.flex-break {
  flex-basis: 100%;
  height: 0;
  margin: 0;
  padding: 0;
}
/** Major Sections */
/** Header */
header {
  margin: 0 auto;
  font-size: 35px;
  color: white;
  background-color: #018037;
  width: 100%;
}
header .header-main-title-container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  text-align: center;
  max-width: 1280px;
}
header .header-main-title-container h2 {
  margin: 0px;
  padding: 0px;
}
header .header-main-title-container.image-header-container {
  padding: 0px;
}
header .header-main-title-container.image-header-container h2 {
  display: none;
}
header .header-main-title-container.image-header-container .header-slideshow-container {
  overflow: hidden;
}
header .header-main-title-container.image-header-container .header-slideshow-container .slider-container-transition {
  transition: transform 0.7s ease-in-out;
}
header .header-main-title-container.image-header-container .header-slideshow-container .slider-container-transition-down {
  transform: translateX(100%);
  position: relative;
  left: -100%;
}
header .header-main-title-container.image-header-container .header-slideshow-container .header-slideshow-images {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
@media (max-width: 480px) {
  header .header-main-title-container.image-header-container .header-slideshow-container .header-slideshow-images.full-header-imaages {
    display: none;
  }
}
header .header-main-title-container.image-header-container .header-slideshow-container .header-slideshow-images.mobile-header-images {
  display: none;
  height: auto;
  width: 100%;
}
@media (max-width: 480px) {
  header .header-main-title-container.image-header-container .header-slideshow-container .header-slideshow-images.mobile-header-images {
    display: flex;
  }
}
header .header-main-title-container.image-header-container .header-slideshow-container .header-slideshow-images .header-image {
  width: 100%;
  flex-shrink: 0;
  height: auto;
}
.fun {
  transition: color 0.3s ease;
}
/* Container for flexboxes */
section {
  display: flex;
  margin: 0 auto;
  background-color: #003C02;
  padding: 50px;
  color: white;
  border-radius: 22px;
  width: 100%;
}
@media (max-width: 745px) {
  section {
    padding: 25px;
  }
}
section .article-nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
  overflow-wrap: anywhere;
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
}
@media (max-width: 745px) {
  section .article-nav-container {
    gap: 10px;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/* Style the content */
article {
  flex: 8;
}
@media (max-width: 745px) {
  article {
    flex: 0;
    gap: 0;
  }
}
article img {
  float: right;
}
article p,
article h2,
article h3,
article ul {
  margin: 0;
}
article p,
article h2,
article h3 {
  padding: 0;
}
#page-type-template-container {
  gap: 10px;
}
#page-type-template-container h2 {
  margin-bottom: 10px;
}
#page-type-template-container h3 {
  margin-top: 10px;
}
/* Style the navigation menu */
nav {
  background: #003C02;
  color: white;
  font-size: 1.2em;
  font-family: "Roboto";
  text-align: left;
  flex: 2;
}
@media (max-width: 745px) {
  nav {
    text-align: center;
    flex: 0;
  }
}
@media (max-width: 745px) and (max-width: 480px) {
  nav {
    text-align: left;
  }
}
nav .nav-links-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px 25px;
  justify-content: left;
  flex-direction: column;
}
@media (max-width: 745px) {
  nav .nav-links-container {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 480px) {
  nav .nav-links-container {
    flex-direction: column;
    justify-content: left;
    gap: 25px;
  }
}
nav .nav-links-container .nav-section {
  flex: 1;
}
nav .nav-links-container .nav-section h2 {
  margin: 0 0 6px 0;
  padding: 0px;
  font-family: "Roboto";
}
nav .nav-links-container .nav-section .image-link-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}
@media (max-width: 745px) {
  nav .nav-links-container .nav-section .image-link-container {
    justify-content: center;
  }
}
@media (max-width: 745px) and (max-width: 480px) {
  nav .nav-links-container .nav-section .image-link-container {
    justify-content: left;
  }
}
nav .nav-links-container .nav-section ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
nav .nav-links-container .nav-section ul.rowLayout li {
  display: inline;
}
nav .nav-links-container .nav-section ul a {
  font-family: "Roboto";
  color: white;
}
nav .nav-links-container .nav-section ul a:visited {
  color: white;
}
nav .nav-links-container .nav-section ul a.active {
  color: #FF0000;
  font-weight: bold;
}
nav .nav-links-container .nav-section ul a:hover {
  color: #FF0000;
}
/* Footer */
.page-footer-container {
  width: 100%;
  flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  font-family: "'Helvetica Neue', Bold";
  font-size: 24px;
  color: white;
  background-color: #003C02;
  padding: 60px 20px;
}
@media (max-width: 480px) {
  .page-footer-container {
    display: none;
  }
}
.page-footer-container .page-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.page-footer-container .page-footer .page-footer-entry-container.page-footer-text-entry {
  text-align: left;
  width: 270px;
}
.page-footer-container .page-footer .page-footer-entry-container a {
  color: white;
  display: block;
  position: relative;
  text-align: center;
  width: 200px;
  height: 200px;
}
.page-footer-container .page-footer .page-footer-entry-container a img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(50%);
}
.page-footer-container .page-footer .page-footer-entry-container a img:hover {
  filter: brightness(100%);
}
.page-footer-container .page-footer .page-footer-entry-container a span {
  z-index: 1;
  width: 100%;
  display: block;
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer {
  display: none;
  /**
    * The "fixed" footer will end up hiding things b/c the page doesn't
    * know to add extra space for the overlapping content
    *
    * So we hack in another footer at the bottom of the page and make it
    * 0 width & full height. This acts as a hidden spacer at the bottom of
    * the page which makes sure there's always enough room for the floating
    * footer below the content.
    */
  width: 100%;
  font-size: 1.5em;
  margin: 10px 0 0 0;
  padding: 0;
}
@media only screen and (max-width: 480px) {
  footer {
    display: block;
  }
}
footer.fixed-footer {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
}
@media only screen and (max-width: 480px) {
  footer.fixed-footer {
    z-index: 10;
    display: block;
  }
}
footer.spacer-footer {
  content: attr(data-text);
  content: attr(data-text) / "";
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: bold;
}
footer div.links-container {
  border: 2px black solid;
  background-color: #FF0000;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 13px;
  min-width: 375px;
}
footer div.links-container .circle-container {
  position: relative;
  display: block;
  width: 84px;
  height: 84px;
  text-decoration: none;
}
footer div.links-container .circle-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
footer div.links-container .circle-container .circle.viewing {
  width: 50px;
  height: 50px;
}
footer div.links-container .circle-container .color-1 {
  background-color: #860000;
}
footer div.links-container .circle-container .color-2 {
  background-color: #A70000;
}
footer div.links-container .circle-container .color-3 {
  background-color: #D30000;
}
footer div.links-container .circle-container .color-4 {
  background-color: #018037;
}
.copyright-container {
  display: flex;
  margin: 10px 0;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
}
#welcome-header-container {
  position: relative;
  height: 100%;
  width: 100%;
}
#welcome-header-container .welcome-header-content-background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  bottom: 0%;
}
#welcome-header-container .welcome-header-floating-circle-container {
  position: absolute;
  z-index: 2;
}
#welcome-header-container .welcome-header-floating-circle-container.left-side {
  left: 10vw;
  top: 12vw;
  margin-left: -140px;
  margin-top: -160px;
}
@media (max-width: 745px) {
  #welcome-header-container .welcome-header-floating-circle-container.left-side {
    margin-top: -120px;
  }
}
#welcome-header-container .welcome-header-floating-circle-container.right-side {
  right: 5vw;
  bottom: 10vw;
  margin-right: -130px;
  margin-bottom: -160px;
}
@media (max-width: 745px) {
  #welcome-header-container .welcome-header-floating-circle-container.right-side {
    margin-bottom: 20vw;
    right: 5vw;
  }
}
@media (max-width: 480px) {
  #welcome-header-container .welcome-header-floating-circle-container.right-side {
    margin-bottom: 33vw;
    margin-right: -190px;
  }
}
#welcome-header-container .welcome-header-floating-circle-container .floating-circle {
  z-index: 3;
  width: 225px;
  height: 225px;
  position: relative;
}
#welcome-header-container .welcome-header-floating-circle-container .floating-circle.clip-path-circle {
  display: block;
  clip-path: circle(50% at 50% 50%);
  background-color: #e77619;
}
#welcome-header-container .welcome-header-floating-circle-container .floating-circle.top-floating-circle {
  position: absolute;
  z-index: 4;
}
#welcome-header-container .welcome-header-floating-circle-container .slider-container-transition {
  transition: transform 10s ease-in-out, background-color 5s ease;
}
#welcome-header-container .welcome-header-slash-container {
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-left: -650px;
}
#welcome-header-container .welcome-header-slash-container .clip-path-poly-slash-large,
#welcome-header-container .welcome-header-slash-container .clip-path-poly-slash-small {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #ffad30;
  width: 100%;
  transition: background-color 10s ease;
}
#welcome-header-container .welcome-header-slash-container .clip-path-poly-slash-large {
  clip-path: polygon(55% 0, 92% 0, 37% 100%, 0 100%);
}
#welcome-header-container .welcome-header-slash-container .clip-path-poly-slash-small {
  clip-path: polygon(95% 0, 100% 0, 45% 100%, 40% 100%);
}
#welcome-header-container .welcome-header-slash-container .welcome-header-slash {
  display: block;
  width: 650px;
  height: 100%;
  transition: transform 10s ease-in-out;
  visibility: hidden;
}
#welcome-header-container .welcome-header-slash-container .welcome-header-slash.js-animate-slash {
  visibility: visible;
  transform: translateX(330%);
}
@media (max-width: 745px) {
  #welcome-header-container .welcome-header-slash-container .welcome-header-slash.js-animate-slash {
    transform: translateX(220%);
  }
}
@media (max-width: 480px) {
  #welcome-header-container .welcome-header-slash-container .welcome-header-slash.js-animate-slash {
    transform: translateX(175%);
  }
}
#welcome-header-container .welcome-header-x-container {
  z-index: 6;
  position: absolute;
}
#welcome-header-container .welcome-header-x-container.left-side {
  margin-left: -120px;
  left: 20vw;
  bottom: 25px;
}
@media (max-width: 745px) {
  #welcome-header-container .welcome-header-x-container.left-side {
    margin-left: -47px;
    left: 10vw;
    bottom: 110px;
  }
}
@media (max-width: 480px) {
  #welcome-header-container .welcome-header-x-container.left-side {
    margin-left: -75px;
    left: 20vw;
    bottom: 220px;
  }
}
#welcome-header-container .welcome-header-x-container.right-side {
  text-align: right;
  right: 20vw;
  top: 48px;
}
@media (max-width: 745px) {
  #welcome-header-container .welcome-header-x-container.right-side {
    margin-right: -50px;
    top: 60px;
  }
}
@media (max-width: 480px) {
  #welcome-header-container .welcome-header-x-container.right-side {
    margin-right: -75px;
    top: 40px;
  }
}
#welcome-header-container .welcome-header-x-container .welcome-header-x {
  transition: transform 10s ease-in-out, background-color 1s ease;
  width: 48px;
  height: 48px;
}
@media (max-width: 745px) {
  #welcome-header-container .welcome-header-x-container .welcome-header-x {
    width: 24px;
    height: 24px;
  }
}
#welcome-header-container .welcome-header-x-container .welcome-header-x.svg-path-cross {
  background-color: white;
  clip-path: polygon(10% 0%, 0% 10%, 40% 50%, 0% 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0%, 50% 40%);
}
#welcome-header-container .welcome-header-x-container .welcome-header-x:hover {
  cursor: pointer;
}
#welcome-header-container .welcome-header-contact-info-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 500px;
  justify-content: center;
  align-items: center;
  z-index: 5;
  gap: 2vw;
}
@media (max-width: 745px) {
  #welcome-header-container .welcome-header-contact-info-container {
    min-height: 550px;
    flex-direction: column;
    text-align: center;
    gap: 1vw;
  }
}
#welcome-header-container .welcome-header-contact-info-container .hidden-text-container {
  position: relative;
}
#welcome-header-container .welcome-header-contact-info-container .hidden-text-container .hidden-text-concealer {
  display: block;
  visibility: hidden;
  transition: transform 0.15s ease-in-out;
  z-index: 7;
  user-select: none;
  pointer-events: none;
  background-color: white;
  width: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
#welcome-header-container .welcome-header-contact-info-container .hidden-text-container .hidden-text-concealer.js-header-animation-running {
  visibility: visible;
}
#welcome-header-container .welcome-header-contact-info-container .hidden-text-container .hidden-text-concealer.js-header-animation-start {
  transform: translateX(200px) scaleX(4000%);
}
#welcome-header-container .welcome-header-contact-info-container .hidden-text-container .hidden-text-concealer.js-grid-animation-start {
  transform: translateX(100px) scaleX(2000%);
}
#welcome-header-container .welcome-header-contact-info-container .hidden-text-container .hidden-text-concealer.js-header-animation-end {
  transform: translateX(500px) scaleX(0%);
}
#welcome-header-container .welcome-header-contact-info-container .hidden-text-container .hidden-text-concealer.js-grid-animation-end {
  transform: translateX(400px) scaleX(0%);
}
#welcome-header-container .welcome-header-contact-info-container .hidden-text-container .hidden-text {
  visibility: hidden;
}
#welcome-header-container .welcome-header-contact-info-container .hidden-text-container .hidden-text.js-show-hidden-text {
  visibility: visible;
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-image-container {
  z-index: 6;
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-image-container img {
  z-index: 7;
  height: 300px;
  cursor: pointer;
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container {
  font-family: "'Roboto Flex'";
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 6;
  overflow: hidden;
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container h2,
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container p,
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container div {
  margin: 0;
  padding: 0;
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container h2 {
  font-size: 2em;
  font-weight: 800;
}
@media (max-width: 745px) {
  #welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container h2 {
    font-size: 1.9em;
  }
}
@media (max-width: 480px) {
  #welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container h2 {
    font-size: 1.8em;
  }
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container .welcome-header-contact-info-position-container {
  font-size: 0.9em;
  font-weight: 400;
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container .welcome-header-contact-info-details-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 3px;
  grid-auto-rows: auto;
  overflow: hidden;
  margin-top: 5px;
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container .welcome-header-contact-info-details-container .welcome-header-contact-info-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  font-weight: 200;
  font-size: 0.5em;
}
@media (max-width: 480px) {
  #welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container .welcome-header-contact-info-details-container .welcome-header-contact-info-data {
    font-size: 0.48em;
  }
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container .welcome-header-contact-info-details-container .welcome-header-contact-info-data .welcome-header-contact-icon {
  font-size: 1.5em;
}
@media (max-width: 480px) {
  #welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container .welcome-header-contact-info-details-container .welcome-header-contact-info-data .welcome-header-contact-icon {
    font-size: 1em;
  }
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container .welcome-header-contact-info-details-container .welcome-header-contact-info-data p {
  padding-left: 6px;
}
@media (max-width: 480px) {
  #welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container .welcome-header-contact-info-details-container .welcome-header-contact-info-data p {
    padding-left: 3px;
  }
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container .welcome-header-contact-info-details-container .welcome-header-contact-info-data a {
  text-decoration: none;
  color: white;
}
#welcome-header-container .welcome-header-contact-info-container .welcome-header-contact-info-text-container .welcome-header-contact-info-details-container .welcome-header-contact-info-data a:visited {
  color: white;
}
#welcome-header-container .welcome-header-flying-bird-cage {
  display: none;
}
.welcome-header-flying-bird {
  transition: transform 10s ease-in-out;
  transform: scale(0.5);
  position: absolute;
  left: 0;
  top: 0;
}
#raw-text-main-article-container code {
  white-space: break-spaces;
}
#view-parse-toggle-btn {
  margin: 10px 5px;
}
.robot-fun-container {
  display: flex;
  flex-direction: row;
  margin: 25px 0 0 0;
  gap: 35px;
}
@media (max-width: 745px) {
  .robot-fun-container {
    margin-bottom: 25px;
  }
}
.robot-fun-container .robot-fun-img-container {
  padding-left: 3px;
}
.robot-fun-container .robot-fun-img-container img {
  width: 100%;
  max-width: 142px;
  height: auto;
}
.robot-fun-container .robot-fun-img-container img:hover {
  cursor: pointer;
}
.robot-fun-container .robot-fun-txt-container h3 {
  margin: 0 0 10px 0;
  padding: 0;
}
#robots-header-container {
  position: relative;
  height: 100%;
}
.robots-header-content-background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.robots-header-content-background .robots-header-moon {
  display: block;
  background-image: url("/src/images/site/robots/moon.jpg");
  background-repeat: repeat-x;
  height: 591px;
  width: 4258px;
  animation: slide 120s linear infinite;
}
.robots-header-content-background .robots-header-robot {
  position: absolute;
  z-index: 2;
  transform: scaleX(-1);
  height: 180px;
}
.robots-header-content-background .robots-header-robot:hover {
  cursor: pointer;
}
.robots-header-content-background .robots-header-robot.robots-header-left-side {
  top: 140px;
  left: 90px;
}
.robots-header-content-background .robots-header-robot.robots-header-right-side {
  bottom: 50px;
  right: 90px;
}
.robots-header-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 20px;
  z-index: 2;
  min-height: 500px;
  pointer-events: none;
}
@media (max-width: 745px) {
  .robots-header-text-container {
    min-height: 550px;
  }
}
.robots-header-text-container p,
.robots-header-text-container h1,
.robots-header-text-container div {
  z-index: inherit;
  margin: 0;
  padding: 0;
}
.robot-article-img {
  height: 180px;
  width: fit-content;
}
.robot-article-img.left-side {
  float: left;
}
.robot-article-img.right-side {
  float: right;
}
@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-2129px);
    /* The image width */
  }
}
#work-header-container {
  background: black;
  position: relative;
  height: 100%;
}
.work-header-content-background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.work-header-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 20px;
  z-index: 3;
  min-height: 500px;
  pointer-events: none;
}
.work-header-text-container * {
  z-index: inherit;
}
.shape {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.shader {
  z-index: 2;
  background-image: linear-gradient(to left, transparent 0%, black 95%);
}
.curve {
  z-index: 1;
  clip-path: url(#myCurve);
  background: linear-gradient(to left, #8e2de2, #4a00e0);
}
.svg-defs,
.svg-container {
  height: 0px;
  width: 0px;
}
#article-container {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  gap: 10px;
}
@media (max-width: 480px) {
  #article-container {
    font-size: 1em;
  }
}
#article-container .hidden {
  display: none;
}
#article-container > div {
  display: flex;
  flex-direction: column;
}
#parsed-main-article-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#parsed-main-article-container h2 {
  margin-bottom: 10px;
}
#parsed-main-article-container h3 {
  margin-top: 10px;
}
#parsed-main-article-container h2:first-child,
#parsed-main-article-container p:first-child {
  margin-top: 0px;
}
#parsed-main-article-container h2:last-child,
#parsed-main-article-container p:last-child {
  margin-bottom: 0px;
}
#parsed-main-article-container .ma-entry-text-container h2:first-child,
#parsed-main-article-container .ma-entry-text-container p:first-child {
  margin-top: 0px;
}
#parsed-main-article-container .ma-entry-text-container h2:last-child,
#parsed-main-article-container .ma-entry-text-container p:last-child {
  margin-bottom: 0px;
}
/**
 * Block'O'Fun CSS
 */
.block-o-fun img {
  border-radius: 50%;
  padding: 5px;
  margin-right: 8px;
  width: 150px;
  float: left;
}
.block-o-fun img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  cursor: crosshair;
}
.tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
@keyframes slidebg {
  to {
    background-position: 25vw;
  }
}
#mini-article-list {
  margin: 0px 6px;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue, Regular";
  font-size: 20px;
  /**
   * We'd like the last entry to not push down the footer so we have to set the
   * last last entry margin to 0.
   *
   * If we were using "gap" we woudn't need this but b/c of animations we're jumping
   * through some css hoops.
   */
  /* General tag css */
}
#mini-article-list .ma-entry-container {
  /**
      * Required for animations: https://css-tricks.com/using-css-transitions-auto-dimensions/#aa-technique-3-javascript
      */
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: auto;
  /**
      * Because of how we're hacking height for animations, we have to jump through
      * a couple css hoops to get margins between all the entries to collapse right
      * when we filter things.
      */
}
#mini-article-list .ma-entry-container .ma-entry-text-container {
  /* This is how we set #mini-article-entries {gap:18px} */
  margin-bottom: 20px;
  /* We might as well make the parsed article flex too */
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: monospace;
}
#mini-article-list .ma-entry-container .ma-entry-text-container p,
#mini-article-list .ma-entry-container .ma-entry-text-container h1,
#mini-article-list .ma-entry-container .ma-entry-text-container h2,
#mini-article-list .ma-entry-container .ma-entry-text-container h3,
#mini-article-list .ma-entry-container .ma-entry-text-container h4,
#mini-article-list .ma-entry-container .ma-entry-text-container h5,
#mini-article-list .ma-entry-container .ma-entry-text-container h6 {
  margin: 0px;
}
#mini-article-list:last-of-type .ma-entry-container {
  margin-bottom: 0px;
}
#mini-article-list .ma-entry-tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
#mini-article-list .ma-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
}
/* Head - Header / Sort / Tags */
#ma-head-container {
  margin: 8px 0;
  /* Mini Article Header and Sort */
  /* Mini Article Tags & Entry Tags */
}
#ma-head-container #ma-header-and-sort-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  justify-content: left;
  gap: 4px;
  flex-wrap: wrap;
  /* Header */
  /* Mini Article Sort */
}
#ma-head-container #ma-header-and-sort-container h3 {
  font-size: 40px;
  margin: 0;
}
#ma-head-container #ma-header-and-sort-container #mini-article-sort-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 20px;
  flex-wrap: wrap;
}
#ma-head-container #ma-header-and-sort-container #mini-article-sort-container span {
  min-width: fit-content;
}
#ma-head-container #ma-header-and-sort-container #mini-article-sort-container span:hover,
#ma-head-container #ma-header-and-sort-container #mini-article-sort-container span.active {
  cursor: pointer;
  color: #74FF00;
  text-shadow: -0.04em 0.04em 0.08em #6c006c, 0.04em 0.04em 0.08em #6c006c, 0.04em -0.04em 0 #6c006c, -0.04em -0.04em 0 #6c006c;
}
#ma-head-container #mini-article-tag-list {
  margin: 40px 0 40px 8px ;
  justify-content: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  gap: 13px;
}
#ma-head-container #mini-article-tag-list .ma-tag {
  padding: 20px 30px;
  font-size: 20px;
  border: 2px solid #F643FD;
}
#ma-head-container #mini-article-tag-list .ma-tag.active {
  color: black;
  border-color: #F643FD;
  background-color: #F643FD;
}
#ma-head-container #mini-article-tag-list .ma-tag:hover {
  background-image: linear-gradient(90deg, #FFA4FF 3%, #FF70FF 15%, #FF00FF 50%, #FF70FF 85%, #FFA4FF 97%);
  animation: slidebg 5s linear infinite;
  color: black;
  -webkit-text-stroke-width: 0.015em;
  -webkit-text-stroke-color: black;
  cursor: pointer;
}
/* Mini Article Entry */
#mini-article-entries {
  display: inline-flex;
  flex-direction: column;
}
#mini-article-entries .ma-entry-head-container {
  margin-bottom: 12px;
}
#mini-article-entries .ma-entry-title-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 10px;
  align-items: baseline;
  flex-wrap: wrap;
}
#mini-article-entries .ma-entry-title-container h5 {
  font-size: 30px;
  margin: 0;
  color: white;
}
#mini-article-entries .ma-entry-date-container {
  align-items: center;
  gap: 8px;
  font-size: 20px;
  color: #09D8CB;
  text-shadow: -0.04em 0.04em 0.08em #6c006c, 0.04em 0.04em 0.08em #6c006c, 0.04em -0.04em 0 #6c006c, -0.04em -0.04em 0 #6c006c;
}
#mini-article-entries .ma-entry-tag-container {
  align-items: center;
  font-size: 20px;
  color: #F643FD;
  /* Make them smaller b/c they're kinda different */
}
#mini-article-entries .ma-entry-tag-container .ma-tag {
  text-transform: uppercase;
  min-width: 40px;
  padding: 2px 3px;
}
#carousel-controller {
  margin: 20px 0;
}
#carousel-controller .controller-option-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#carousel-controller .controller-option-container .controller-option-set-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
#carousel-controller .controller-option-container .controller-option-set-container .controller-option-set-btn {
  width: 100%;
  max-width: 140px;
  background-color: black;
  height: 70px;
  border: 4px dashed white;
  border-radius: 33%;
}
#carousel-controller .controller-option-container .controller-option-set-container .controller-option-set-btn:hover {
  border-color: #FF0000;
  cursor: pointer;
}
#carousel-controller .controller-option-container .controller-option-set-container .controller-option-set-btn.active {
  border-color: #FF0000;
}
#carousel-controller .controller-option-container .controller-option-prev-container {
  margin-right: 10px;
}
#carousel-controller .controller-option-container .controller-option-next-container {
  margin-left: 10px;
}
#carousel-controller .controller-option-container .controller-option-prev-container,
#carousel-controller .controller-option-container .controller-option-next-container {
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  #carousel-controller .controller-option-container .controller-option-prev-container,
  #carousel-controller .controller-option-container .controller-option-next-container {
    display: none;
  }
}
#carousel-controller .controller-option-container .controller-option-prev-container .carousel-controller-arrow,
#carousel-controller .controller-option-container .controller-option-next-container .carousel-controller-arrow {
  fill: white;
  stroke: #888888;
  stroke-width: 2;
}
#carousel-controller .controller-option-container .controller-option-prev-container .carousel-controller-arrow:hover,
#carousel-controller .controller-option-container .controller-option-next-container .carousel-controller-arrow:hover {
  cursor: pointer;
  fill: #FF0000;
  stroke: #018037;
  stroke-width: 4;
}
