 * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/**
 * CUSTOM CSS
 *
 * This should really go in separate files but it's really not complicated
 * enough to go through the effort yet.
 *
 * TODO: https://github.com/cdcline/demo-website/issues/21
 */

/**
 * PAGE CSS
 */

/**
 * General
 */
#article-container {
   display: flex;
   flex-direction: column;
}

#article-container .hidden {
   display: none;
}

/**
 * Home Page
 */
#raw-text-main-article-container code {
   white-space: break-spaces;
}

#view-parse-toggle-btn {
   margin: 10px 5px;
}

/**
 * WIDGET CSS
 */

/**
 * Block'O'Fun CSS
 */
.block-o-fun img {
   border-radius: 50%;
   padding: 5px;
   margin-right: 8px;
   width: 150px;
   float: left;
}

 /**
  * Should be nested in above but css not complicated enough to do yet
  *
  * TODO: https://github.com/cdcline/demo-website/issues/24
  */
.block-o-fun img:hover {
   box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
   cursor: crosshair;
 }

/**
 * Mini Article CSS
 */
 #mini-article-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
 }

 /**
  * Required for animations: https://css-tricks.com/using-css-transitions-auto-dimensions/#aa-technique-3-javascript
  */
 #mini-article-list .ma-entry-container {
   overflow:hidden;
   transition:height 0.3s ease-out;
   height:auto;
 }

 /* Mini Article Header */
 #mini-article-list h3 {
    font-size: 25px;
    margin: 0 0 16px 0;
 }

 /* Mini Article Tags & Entry Tags */
 /* General css */
#mini-article-list .ma-tag {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border: 2px solid rgb(238, 142, 16);
   border-radius: 10%;
   font-size: 16px;
   width: 60px;
   height: 25px;
}

/* Flex stuff so they all have common spacing & wrapping */
#mini-article-tag-list, #mini-article-list .ma-entry-tag-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
   padding-left: 4px;
}

/* Main tag css */
#mini-article-tag-list {
   padding-bottom: 8px;
}

/* Hover state of filter tag */
#mini-article-tag-list .ma-tag:hover {
   border-color: red;
   cursor: pointer;
}

 /* Active state of filter tag */
#mini-article-tag-list .ma-tag.active {
   border-color: red;
   background-color: red;
}

/* Mini Article Sort */
#mini-article-sort-container {
   display: flex;
   flex-direction: row;
   gap: 5px;
   font-size: 15px;
   padding: 4px 16px;
}

/* Hover state of sort options */
#mini-article-sort-container span:hover {
   cursor: pointer;
   color: greenyellow;
}

/* Active state of sort options */
#mini-article-sort-container span.active {
   color:purple;
}

/* Mini Article Entry */
#mini-article-entry-container {
   display: inline-flex;
   flex-direction: column;
}

#mini-article-entries {
   display: inline-flex;
   flex-direction: column;
   gap: 15px;
   margin-top: 4px;
}
/* Entry Header*/
#mini-article-entries h5 {
   font-size: 16px;
   margin: 8px 0 2px 0;
}

/* Entry Tags */
#mini-article-list .ma-entry-tag-container {
   padding-left: 6px;
}

/* Make them smaller b/c they're kinda different */
#mini-article-list .ma-entry-tag-container .ma-tag {
   font-size: 12px;
   width: 40px;
   height: 18px;
}

/* Entry Dates */
#mini-article-entries .ma-entry-date-container {
   display: inline-flex;
   gap: 8px;
   padding: 4px;
   font-size: 14px;
 }

 /* Entry text css */
 #mini-article-entries .mini-article-text h5 {
    padding: 4px 0;
 }

 #mini-article-entries .mini-article-text p {
    margin: 3px 0;
 }
