 * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #A600A6;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #FF8858;
  color: white;
  padding: 18px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  flex-wrap: wrap;
}


@media (max-width: 530px) {
   nav {
       flex-direction: row;
       align-items: stretch;
       align-content: center;
   }
}

/* Style the a inside the menu */
nav div {
   padding: 4px;
   gap: 8px;
   min-width: 150px;
   overflow-wrap: anywhere;
}

nav div:hover {
   font-weight: bold;
   cursor: pointer;
}

nav div a {
   text-decoration: none;
}

nav div a:visited {
   color: #530E53;
   text-decoration: none;
}

/* Style the content */
article {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  background-color: #C5FC98;
  padding: 20px;
}

/* Style the footer */
footer {
  background-color: #A600A6;
  padding: 10px;
  text-align: center;
  color: white;
}

footer a {
   color: #5FD101;
}

footer a:visited {
   color: #193700;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/**
 * CUSTOM CSS
 *
 * This should really go in separate files but it's really not complicated
 * enough to go through the effort yet.
 *
 * TODO: https://github.com/cdcline/demo-website/issues/21
 */

/**
 * PAGE CSS
 */

/**
 * General
 */
#article-container {
   display: flex;
   flex-direction: column;
}

#article-container .hidden {
   display: none;
}

#parsed-main-article-container h2:first-child, #parsed-main-article-container p:first-child,
#parsed-main-article-container .ma-entry-text-container h2:first-child, #parsed-main-article-container .ma-entry-text-container p:first-child {
   margin-top: 0px;
}

#parsed-main-article-container h2:last-child, #parsed-main-article-container p:last-child,
#parsed-main-article-container .ma-entry-text-container h2:last-child, #parsed-main-article-container .ma-entry-text-container p:last-child {
   margin-bottom: 0px;
}

/**
 * Home Page
 */
#raw-text-main-article-container code {
   white-space: break-spaces;
}

#view-parse-toggle-btn {
   margin: 10px 5px;
}

/**
 * WIDGET CSS
 */

/**
 * Block'O'Fun CSS
 */
.block-o-fun img {
   border-radius: 50%;
   padding: 5px;
   margin-right: 8px;
   width: 150px;
   float: left;
}

 /**
  * Should be nested in above but css not complicated enough to do yet
  *
  * TODO: https://github.com/cdcline/demo-website/issues/24
  */
.block-o-fun img:hover {
   box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
   cursor: crosshair;
 }

/**
 * Mini Article CSS
 */
 #mini-article-list {
    margin: 0px 6px;
    display: flex;
    flex-direction: column;
 }

/**
 * Required for animations: https://css-tricks.com/using-css-transitions-auto-dimensions/#aa-technique-3-javascript
 */
#mini-article-list .ma-entry-container {
   overflow: hidden;
   transition: height 0.3s ease-out;
   height: auto;
}

/* Mini Article Head */
#ma-head-container {
   margin: 8px 0;
}

/* Mini Article Header and Sort */
#ma-header-and-sort-container {
   display: flex;
   justify-content: space-between;
   margin: 10px 0;
   align-items: stretch;
   gap: 4px;
   flex-wrap: wrap;
}

 /* Mini Article Header */
 #mini-article-list h3 {
    font-size: 25px;
    margin: 0;
 }

/* Mini Article Sort */
#mini-article-sort-container {
   display: flex;
   flex-direction: row;
   gap: 5px;
   font-size: 18px;
   flex-wrap: wrap;
   align-self: center;
}

#mini-article-sort-container span {
   min-width: fit-content;
}

/* Hover state of sort options */
/* Active state of sort options */
#mini-article-sort-container span:hover, #mini-article-sort-container span.active {
   cursor: pointer;
   color: #74FF00;
   text-shadow: -1px  1px 2px #6C006C,
                 1px  1px 2px #6C006C,
                 1px -1px 0   #6C006C,
                -1px -1px 0   #6C006C;
}
 /* Mini Article Tags & Entry Tags */

/* Main tag css */
#mini-article-tag-list {
   margin: 0 8px ;
   justify-content: center;
   display: flex;
}

 /* General tag css */
#mini-article-list .ma-tag {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border: 2px solid #FF4900;
   border-radius: 10%;
   font-size: 16px;
   min-width: 60px;
   padding: 2px 4px;
}

/* Flex stuff so they all have common spacing & wrapping */
#mini-article-tag-list, #mini-article-list .ma-entry-tag-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
   padding-left: 4px;
}


@keyframes slidebg {
   to {
     background-position:20vw;
   }
 }

 /* Active state of filter tag */
#mini-article-tag-list .ma-tag.active {
   color: #74FF00;
   border-color: #D93E00;
   background-color: #FF00FF;
}

/* Hover state of filter tag */
#mini-article-tag-list .ma-tag:hover {
   background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
   animation:slidebg 5s linear infinite;
   color: black;
   cursor: pointer;
}

/* Mini Article Entry */
#mini-article-entries {
   display: inline-flex;
   flex-direction: column;
   gap: 15px;
   margin: 4px;
}

/* Entry Title */
#mini-article-entries .ma-entry-title-container {
   display: flex;
   justify-content: space-between;
   margin-bottom: 8px;
   align-items: baseline;
   gap: 4px;
   flex-wrap: wrap;
}

/* Entry Header*/
#mini-article-entries .ma-entry-title-container h5 {
   font-size: 16px;
   margin: 0;
}

/* Entry Dates*/
#mini-article-entries .ma-entry-date-container {
   align-items: center;
   gap: 8px;
   font-size: 14px;
}

/* Entry Tags */
#mini-article-list .ma-entry-tag-container {
   padding-left: 6px;
}

/* Make them smaller b/c they're kinda different */
#mini-article-list .ma-entry-tag-container .ma-tag {
   color: #74FF00;
   border-color: #D93E00;
   background-color: #FF00FF;
   font-size: 10px;
   min-width: 40px;
   padding: 1px 3px;
}