 * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/**
 * CUSTOM CSS
 *
 * This should really go in separate files but it's really not complicated
 * enough to go through the effort yet.
 *
 * TODO: https://github.com/cdcline/demo-website/issues/21
 */

/**
 * About Me CSS
 */

 img.custom-about-me-class {
   border-radius: 50%;
   padding: 5px;
   margin-right: 8px;
   width: 150px;
   float: left;
 }

 /**
  * Should be nested in above but css not complicated enough to do yet
  *
  * TODO: https://github.com/cdcline/demo-website/issues/24
  */
 img.custom-about-me-class:hover {
   box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
   cursor: crosshair;
 }

/**
 * Mini Article CSS
 */
 #mini-article-list .hidden {
    display: none;
 }

 /**
  * Required for animations: https://css-tricks.com/using-css-transitions-auto-dimensions/#aa-technique-3-javascript
  */
 #mini-article-list .mini-article-container {
   overflow:hidden;
   transition:height 0.3s ease-out;
   height:auto;
 }

 #mini-article-tag-list ul li, .mini-article-tags {
   border: 2px solid rgb(238, 142, 16);
   border-radius: 10%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 60px;
   height: 25px;
   margin-right: 5px;
   margin-bottom: 5px;
 }

 #mini-article-tag-list ul li:hover {
    border-color: red;
    cursor: pointer;
 }

 #mini-article-tag-list ul li.active {
   border-color: red;
   background-color: red;
}
